table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 60%;
}

th, td {
    border: 1px solid #ff0000;
    padding: 8px;
    background-color: white;
}

th {
    background-color: #ffea00;
}

body {
    background-image: url(''); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;}
