/* Table Style */
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 60%;
    background-color: #DFF2EB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

th, td {
    border: 1px solid #4A628A;
    padding: 8px;
    background-color: #DFF2EB;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #7AB2D3;
    font-weight: bold;
}

table tr:hover {
    background-color: #BCE4D4;
    transition: background-color 0.3s ease;
}

/* Body Style */
body {
    background-color: #A2D2DF;
    background-image: url('path/to/image.jpg'); /* Ganti dengan path gambar yang ingin digunakan */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    padding-top: 70px;
    line-height: 1.6;
}

/* Navbar Style */
.navbar-brand img {
    max-height: 50px !important; 
    width: auto !important;
    margin: 0 auto;
}

.nav-bar a {
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.nav-bar .profile-link i {
    font-size: 20px;
    margin-right: 5px;
}

.navbar-brand span {
    font-size: 20px;
    color: #6c757d; 
    font-weight: 600; 
}

/* Card Style */
.card {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
}

.card-img-top {
    border-radius: 15px 15px 0 0;
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-weight: normal;
    font-size: x-large;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    text-align: center; 
    margin-bottom: 20px;
}

/* Fixed Card */
.fixed-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixed-image {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Responsive Styling */
@media (max-width: 576px) {
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .fixed-card {
        height: auto;
    }

    .fixed-image {
        height: 150px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .mb-4 {
        margin-bottom: 1rem !important;
    }

    form.d-flex {
        flex-direction: column;
        gap: 10px; 
    }
    .navbar-brand i {
        margin-top: 5px;
    }
    .navbar-brand img {
        max-height: 30px; 
    }
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.album-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));   
    gap: 10px;
}

.photo-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.photo-item:hover {
    transform: scale(1.05);
}

.album-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.album-details h4 {
    margin-bottom: 15px;
    font-weight: bold;
}

.album-details p {
    margin: 10px 0;
    font-size: 14px;
}

#loader {
    margin-top: 200px;  /* Memberikan jarak 50px antara loader dan album terakhir */
    text-align: center;
    display: none;
}