table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 60%;
}

th, td {
    border: 1px solid #ff0000;
    padding: 8px;
    background-color: white;
}

th {
    background-color: #ffea00;
}

body {
    background-image: url(''); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;}

    .nav-bar {
        display: flex;
        align-items: center;
        background-color: #f8f9fa; 
        padding: 10px;
    }

    .nav-bar a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        margin-right: 15px;
    }

    .nav-bar a:hover {
        color: #0056b3;
    }

    .nav-bar .profile-link {
        margin-left: auto;
    }
    